{% extends 'CIResults/base.html' %}

{% block title %}Bugs Trend{% endblock %}

{% block content %}
{% include "CIResults/basic/user_filtering_searchbox.html" %}

<div class="row">
    <div class="col-md-4">
        <div class="panel panel-default" >
            <div class="panel-body ">
                <canvas id="BugsOverTime" data-chart-type="bugs_over_time" data-chart-data="{{bugs_trend|escape}}" data-chart-title="Bugs trend ({{bugs_trend.period_desc}})" data-fullscreen-target="fullscreenModal"></canvas>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default" >
            <div class="panel-body ">
                <canvas id="TTRbug" data-chart-type="bin_chart" data-chart-data="{{bugs_ttr|escape}}" data-chart-title="Time to close bugs (last 30 days)" data-chart-legend="Closed bugs" data-fullscreen-target="fullscreenModal"></canvas>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default" >
            <div class="panel-body ">
                <canvas id="bugs_age" data-chart-type="bin_chart" data-chart-data="{{bugs_age|escape}}" data-chart-title="Age of the open bugs" data-chart-legend="Open bugs" data-fullscreen-target="fullscreenModal"></canvas>
            </div>
        </div>
    </div>
</div>

<div class="row">
        <div class="col-md-4">
        <div class="panel panel-default" >
            <div class="panel-body ">
                <canvas id="CommentsOverTime" data-chart-type="comments_over_time" data-chart-data="{{comments_trend|escape}}" data-chart-title="Comments trend ({{comments_trend.period_desc}})" data-fullscreen-target="fullscreenModal"></canvas>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="fullscreenModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width: 90%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
             </div>
             <div class="modal-body">
             </div>
         </div>
     </div>
</div>
{% include "CIResults/basic/metrics_deps.html" %}

{% endblock %}
