{% extends 'CIResults/knownfailure_list.html' %}
{% load helpers %}

{% block title %}RunConfig tag {{tag}} history{% endblock %}

{% block information %}
<div class="panel panel-default panel-info" >
    <div class="panel-heading">Details about the runconfig tag {{tag}}</div>
    <div class="panel-body">
        <table class="table table-striped table-hover table-bordered table-sm sortable">
            <thead>
                <tr><th>Key</th><th>Value</th></tr>
            </thead>
            <tbody>
                <tr><td>Description</td><td>{{tag.description}}</td></tr>
                <tr><td>Is Public?</td><td>{{tag.public}}</td></tr>
            </tbody>
        </table>
    </div>
</div>

<h2>Associated failures</h2>
{% endblock %}
